In [1]:
import pandas as pd

In [2]:
data = pd.Series([22, 33, 55, 31, 51, 57])

In [3]:
data

0    22
1    33
2    55
3    31
4    51
5    57
dtype: int64

In [15]:
data = pd.Series([22, 33, 55, 77], index=['ram', 'shyam','hari', 'sita'])
data

ram      22
shyam    33
hari     55
sita     77
dtype: int64

In [6]:
data.max()

77

In [7]:
data.min()

22

In [8]:
data.mean()

46.75

In [9]:
data.std()

24.390913608691797

In [10]:
data[0]

22

In [11]:
data['ram']

22

In [16]:
data = pd.Series([222, 33, 555, 77], index=['ram', 'shyam','hari', 'sita'])
data

ram      222
shyam     33
hari     555
sita      77
dtype: int64

In [17]:
data.rank()

ram      3.0
shyam    1.0
hari     4.0
sita     2.0
dtype: float64

In [18]:
len(data)

4

In [21]:
data.sort_values()

shyam     33
sita      77
ram      222
hari     555
dtype: int64

In [23]:
type(data)

pandas.core.series.Series

In [24]:
#DataFrame

In [25]:
df = pd.read_csv('mcu_box_office.csv')

In [26]:
print(df)

                                  movie_title  mcu_phase release_date  \
0                                    Iron Man          1     5/2/2008
1                         The Incredible Hulk          1    6/13/2008
2                                  Iron Man 2          1     5/7/2010
3                                        Thor          1     5/6/2011
4          Captain America: The First Avenger          1    7/22/2011
5                                The Avengers          1     5/4/2012
6                                  Iron Man 3          2     5/3/2013
7                        Thor: The Dark World          2    11/8/2013
8         Captain America: The Winter Soldier          2     4/4/2014
9                     Guardians of the Galaxy          2     8/1/2014
10                    Avengers: Age of Ultron          2     5/1/2015
11                                    Ant-Man          2    7/17/2015
12                 Captain America: Civil War          3     5/6/2016
13                             Doctor Strange          3    11/4/2016
14             Guardians of the Galaxy Vol. 2          3     5/5/2017
15                     Spider-Man: Homecoming          3     7/7/2017
16                             Thor: Ragnarok          3    11/3/2017
17                              Black Panther          3    2/16/2018
18                     Avengers: Infinity War          3    4/27/2018
19                       Ant-Man and the Wasp          3     7/6/2018
20                             Captain Marvel          3     3/8/2019
21                         Avengers: End Game          3    4/26/2019
22                  Spider-Man: Far From Home          3     7/2/2019
23                                Black Widow          4     7/9/2021
24  Shang-Chi and the Legend of the Ten Rings          4     9/3/2021
25                                   Eternals          4    11/5/2021
26                    Spider-Man: No Way Home          4   12/17/2021

    tomato_meter  audience_score  movie_duration production_budget  \
0             94              91             126       186,000,000
1             67              70             112       137,500,000
2             72              71             124       170,000,000
3             77              76             113       150,000,000
4             79              75             124       140,000,000
5             91              91             143       225,000,000
6             79              78             130       200,000,000
7             66              75             111       150,000,000
8             90              92             135       170,000,000
9             92              92             121       170,000,000
10            76              83             141       365,000,000
11            83              85             117       130,000,000
12            90              89             146       250,000,000
13            89              86             115       165,000,000
14            85              87             135       200,000,000
15            92              87             133       175,000,000
16            93              87             130       180,000,000
17            96              79             134       200,000,000
18            85              91             149       300,000,000
19            87              81             118       130,000,000
20            79              45             124       175,000,000
21            94              90             181       400,000,000
22            90              95             129       160,000,000
23            79              91             133       200,000,000
24            91              98             133       150,000,000
25            47              78             157       200,000,000
26            93              98             148       200,000,000

   opening_weekend domestic_box_office worldwide_box_office
0      102,118,668         318,604,126          585,171,547
1       55,414,050         134,806,913          265,573,859
2      128,122,480         312,433,331          621,156,389
3       65,723,338         181,030,624          449,326,618
4       65,058,524         176,654,505          370,569,776
5      207,438,708         623,357,910        1,515,100,211
6      174,144,585         408,992,272        1,215,392,272
7       85,737,841         206,362,140          644,602,516
8       95,023,721         259,746,958          714,401,889
9       94,320,883         333,714,112          770,882,395
10     191,271,109         459,005,868        1,395,316,979
11      57,225,526         180,202,163          518,858,449
12     179,139,142         408,084,349        1,151,918,521
13      85,058,311         232,641,920          676,354,481
14     146,510,104         389,813,101          869,113,101
15     117,027,503         334,201,140          878,346,440
16     122,744,989         315,058,289          850,482,778
17     202,003,951         700,059,566        1,336,494,321
18     257,698,183         678,815,482        2,048,359,754
19      75,812,205         216,648,740          623,144,660
20     153,433,423         426,829,839        1,129,727,388
21     357,115,007         858,373,000        2,797,800,564
22      92,579,212         390,532,085        1,132,532,832
23      80,366,312         183,651,655          379,751,655
24      75,388,688         224,543,292          432,243,292
25      71,297,219         164,870,264          402,064,929
26     260,138,569         803,975,784        1,891,108,035

In [27]:
df

,movie_title,mcu_phase,release_date,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,94,91,126,"186,000,000","102,118,668","318,604,126","585,171,547"
1,The Incredible Hulk,1,6/13/2008,67,70,112,"137,500,000","55,414,050","134,806,913","265,573,859"
2,Iron Man 2,1,5/7/2010,72,71,124,"170,000,000","128,122,480","312,433,331","621,156,389"
3,Thor,1,5/6/2011,77,76,113,"150,000,000","65,723,338","181,030,624","449,326,618"
4,Captain America: The First Avenger,1,7/22/2011,79,75,124,"140,000,000","65,058,524","176,654,505","370,569,776"
5,The Avengers,1,5/4/2012,91,91,143,"225,000,000","207,438,708","623,357,910","1,515,100,211"
6,Iron Man 3,2,5/3/2013,79,78,130,"200,000,000","174,144,585","408,992,272","1,215,392,272"
7,Thor: The Dark World,2,11/8/2013,66,75,111,"150,000,000","85,737,841","206,362,140","644,602,516"
8,Captain America: The Winter Soldier,2,4/4/2014,90,92,135,"170,000,000","95,023,721","259,746,958","714,401,889"
9,Guardians of the Galaxy,2,8/1/2014,92,92,121,"170,000,000","94,320,883","333,714,112","770,882,395"
10,Avengers: Age of Ultron,2,5/1/2015,76,83,141,"365,000,000","191,271,109","459,005,868","1,395,316,979"
11,Ant-Man,2,7/17/2015,83,85,117,"130,000,000","57,225,526","180,202,163","518,858,449"
12,Captain America: Civil War,3,5/6/2016,90,89,146,"250,000,000","179,139,142","408,084,349","1,151,918,521"
13,Doctor Strange,3,11/4/2016,89,86,115,"165,000,000","85,058,311","232,641,920","676,354,481"
14,Guardians of the Galaxy Vol. 2,3,5/5/2017,85,87,135,"200,000,000","146,510,104","389,813,101","869,113,101"
15,Spider-Man: Homecoming,3,7/7/2017,92,87,133,"175,000,000","117,027,503","334,201,140","878,346,440"
16,Thor: Ragnarok,3,11/3/2017,93,87,130,"180,000,000","122,744,989","315,058,289","850,482,778"
17,Black Panther,3,2/16/2018,96,79,134,"200,000,000","202,003,951","700,059,566","1,336,494,321"
18,Avengers: Infinity War,3,4/27/2018,85,91,149,"300,000,000","257,698,183","678,815,482","2,048,359,754"
19,Ant-Man and the Wasp,3,7/6/2018,87,81,118,"130,000,000","75,812,205","216,648,740","623,144,660"
20,Captain Marvel,3,3/8/2019,79,45,124,"175,000,000","153,433,423","426,829,839","1,129,727,388"
21,Avengers: End Game,3,4/26/2019,94,90,181,"400,000,000","357,115,007","858,373,000","2,797,800,564"
22,Spider-Man: Far From Home,3,7/2/2019,90,95,129,"160,000,000","92,579,212","390,532,085","1,132,532,832"
23,Black Widow,4,7/9/2021,79,91,133,"200,000,000","80,366,312","183,651,655","379,751,655"
24,Shang-Chi and the Legend of the Ten Rings,4,9/3/2021,91,98,133,"150,000,000","75,388,688","224,543,292","432,243,292"
25,Eternals,4,11/5/2021,47,78,157,"200,000,000","71,297,219","164,870,264","402,064,929"
26,Spider-Man: No Way Home,4,12/17/2021,93,98,148,"200,000,000","260,138,569","803,975,784","1,891,108,035"

In [30]:
df.columns

Index(['movie_title', 'mcu_phase', 'release_date', 'tomato_meter',
       'audience_score', 'movie_duration', 'production_budget',
       'opening_weekend', 'domestic_box_office', 'worldwide_box_office'],
      dtype='object')

In [33]:
df.head() #top 5

,movie_title,mcu_phase,release_date,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,94,91,126,"186,000,000","102,118,668","318,604,126","585,171,547"
1,The Incredible Hulk,1,6/13/2008,67,70,112,"137,500,000","55,414,050","134,806,913","265,573,859"
2,Iron Man 2,1,5/7/2010,72,71,124,"170,000,000","128,122,480","312,433,331","621,156,389"
3,Thor,1,5/6/2011,77,76,113,"150,000,000","65,723,338","181,030,624","449,326,618"
4,Captain America: The First Avenger,1,7/22/2011,79,75,124,"140,000,000","65,058,524","176,654,505","370,569,776"

In [34]:
df.head(3) #top 3

,movie_title,mcu_phase,release_date,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,94,91,126,"186,000,000","102,118,668","318,604,126","585,171,547"
1,The Incredible Hulk,1,6/13/2008,67,70,112,"137,500,000","55,414,050","134,806,913","265,573,859"
2,Iron Man 2,1,5/7/2010,72,71,124,"170,000,000","128,122,480","312,433,331","621,156,389"

In [39]:
df.tail() #last 5

,movie_title,mcu_phase,release_date,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,worldwide_box_office
22,Spider-Man: Far From Home,3,7/2/2019,90,95,129,"160,000,000","92,579,212","390,532,085","1,132,532,832"
23,Black Widow,4,7/9/2021,79,91,133,"200,000,000","80,366,312","183,651,655","379,751,655"
24,Shang-Chi and the Legend of the Ten Rings,4,9/3/2021,91,98,133,"150,000,000","75,388,688","224,543,292","432,243,292"
25,Eternals,4,11/5/2021,47,78,157,"200,000,000","71,297,219","164,870,264","402,064,929"
26,Spider-Man: No Way Home,4,12/17/2021,93,98,148,"200,000,000","260,138,569","803,975,784","1,891,108,035"

In [40]:
df.tail(2) #last 2

,movie_title,mcu_phase,release_date,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,worldwide_box_office
25,Eternals,4,11/5/2021,47,78,157,"200,000,000","71,297,219","164,870,264","402,064,929"
26,Spider-Man: No Way Home,4,12/17/2021,93,98,148,"200,000,000","260,138,569","803,975,784","1,891,108,035"

In [42]:
df.columns[0]

'movie_title'

In [43]:
df.movie_title

0                                      Iron Man
1                           The Incredible Hulk
2                                    Iron Man 2
3                                          Thor
4            Captain America: The First Avenger
5                                  The Avengers
6                                    Iron Man 3
7                          Thor: The Dark World
8           Captain America: The Winter Soldier
9                       Guardians of the Galaxy
10                      Avengers: Age of Ultron
11                                      Ant-Man
12                   Captain America: Civil War
13                               Doctor Strange
14               Guardians of the Galaxy Vol. 2
15                       Spider-Man: Homecoming
16                               Thor: Ragnarok
17                                Black Panther
18                       Avengers: Infinity War
19                         Ant-Man and the Wasp
20                               Captain Marvel
21                           Avengers: End Game
22                    Spider-Man: Far From Home
23                                  Black Widow
24    Shang-Chi and the Legend of the Ten Rings
25                                     Eternals
26                      Spider-Man: No Way Home
Name: movie_title, dtype: object

In [44]:
df.movie_title.head()

0                              Iron Man
1                   The Incredible Hulk
2                            Iron Man 2
3                                  Thor
4    Captain America: The First Avenger
Name: movie_title, dtype: object

In [47]:
df.movie_duration.head(3)

0    126
1    112
2    124
3    113
4    124
Name: movie_duration, dtype: int64

In [ ]:
# Series: 1 Dimensional
# DataFrame: 2 Dimensional
    
# head() = first 5 dekhauxa
# head(3) = first 3 dekhauxa
# tail() = last 5 dekhauxa
# tail(3) = bottom 3 dekhauxa

# df.columns = columns name dekhauxa
# df.columns_name eg: df.movie_title garda tyo column display garxa

In [55]:
#DataFrame aafai banaunay
data = {
    'place':['kathmandu', 'pokhara', 'btr'],
    'provience':[3,4,1],
    'population':[3000000, 1100000, 1200000]
}

In [56]:
df = pd.DataFrame(data)
df

       place  provience  population
0  kathmandu          3     3000000
1    pokhara          4     1100000
2        btr          1     1200000

In [57]:
df.place

0    kathmandu
1      pokhara
2          btr
Name: place, dtype: object

In [58]:
df.population

0    3000000
1    1100000
2    1200000
Name: population, dtype: int64

In [59]:
df.provience

0    3
1    4
2    1
Name: provience, dtype: int64

In [60]:
df['place'][1]

'pokhara'

In [61]:
df['place'][2]

'btr'

In [62]:
df.columns

Index(['place', 'provience', 'population'], dtype='object')

In [63]:
df['population']

0    3000000
1    1100000
2    1200000
Name: population, dtype: int64

In [65]:
df['population']>2200000

0     True
1    False
2    False
Name: population, dtype: bool

In [67]:
df[df['population']>2200000]

       place  provience  population
0  kathmandu          3     3000000

In [68]:
df[df['population']<2200000]

     place  provience  population
1  pokhara          4     1100000
2      btr          1     1200000